@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-iG3blvQ-GrO11t: 1140px;
  --plasmic-token-content-max-width: var(--token-iG3blvQ-GrO11t);
  --token-q_50mdFm0SpqTm: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-q_50mdFm0SpqTm);
  --token-DB4QeDfYoeHSYu: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-DB4QeDfYoeHSYu);
  --token-g16j5P__6cNLiM: #92959bd9;
  --plasmic-token-light-label: var(--token-g16j5P__6cNLiM);
  --token-wvPt_hozyzlG4m: #05050599;
  --plasmic-token-light-secondary: var(--token-wvPt_hozyzlG4m);
  --token-4WUH51PFI7NlQU: #007aff;
  --plasmic-token-light-blue: var(--token-4WUH51PFI7NlQU);
  --token-lEzFXHXAM8Ie6Q: #ff3b30;
  --plasmic-token-light-red: var(--token-lEzFXHXAM8Ie6Q);
  --token-jnWt6ujgg_n0Ls: #ffffff;
  --plasmic-token-white: var(--token-jnWt6ujgg_n0Ls);
  --token-0YOKJZjIjHnqTg: #ffffffd9;
  --plasmic-token-dark-label: var(--token-0YOKJZjIjHnqTg);
  --token-zXQtRGXe9Rf8oH: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-zXQtRGXe9Rf8oH);
  --token-FnosgPxQIr562R: #0000001a;
  --plasmic-token-light-quarternary: var(--token-FnosgPxQIr562R);
  --token-YKbHQMvxkTwMrk: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-YKbHQMvxkTwMrk);
  --token-kbKfDJm-IHJB6g: #32d74b;
  --plasmic-token-dark-green: var(--token-kbKfDJm-IHJB6g);
  --token--cklbyremyXdpH: #0a84ff;
  --plasmic-token-dark-blue: var(--token--cklbyremyXdpH);
  --token-dK1rcss2v8TZtP: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-dK1rcss2v8TZtP);
  --token-xOVSQrOAKWFir6: #34c759;
  --plasmic-token-light-green: var(--token-xOVSQrOAKWFir6);
  --token-Nde2ay8x_yBGj-: #5856d6;
  --plasmic-token-light-indigo: var(--token-Nde2ay8x_yBGj-);
  --token-s7FuQLQX-U1FSm: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-s7FuQLQX-U1FSm);
  --token-0jLVZR0zbN1of5: 1240px;
  --plasmic-token-max-width-navbar: var(--token-0jLVZR0zbN1of5);
  --token-RKRJec3jBiUDrd: var(--token-QZfdE6S02Nrnkd);
  --plasmic-token-unnamed-style-token-2: var(--token-RKRJec3jBiUDrd);
  --token-QZfdE6S02Nrnkd: #eeeeee80;
  --plasmic-token-grey: var(--token-QZfdE6S02Nrnkd);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xdoBdvEecvue2X_font-family: "Montserrat", sans-serif;
  --mixin-xdoBdvEecvue2X_font-size: 24px;
  --mixin-xdoBdvEecvue2X_font-weight: 400;
  --mixin-xdoBdvEecvue2X_font-style: normal;
  --mixin-xdoBdvEecvue2X_color: #00000080;
  --mixin-xdoBdvEecvue2X_text-align: center;
  --mixin-xdoBdvEecvue2X_text-transform: none;
  --mixin-xdoBdvEecvue2X_line-height: 150%;
  --mixin-xdoBdvEecvue2X_letter-spacing: normal;
  --mixin-xdoBdvEecvue2X_white-space: pre-wrap;
  --mixin-xdoBdvEecvue2X_user-select: text;
  --mixin-xdoBdvEecvue2X_text-decoration-line: none;
  --mixin-xdoBdvEecvue2X_text-overflow: clip;
  --mixin-9UpOG3ND6pRhA7_white-space: pre-wrap;
  --mixin-SD2Ol39TSCfydx_font-family: "Montserrat", sans-serif;
  --mixin-SD2Ol39TSCfydx_color: #000000;
  --mixin-SD2Ol39TSCfydx_font-size: 72px;
  --mixin-SD2Ol39TSCfydx_font-weight: 700;
  --mixin-SD2Ol39TSCfydx_line-height: 88px;
  --mixin-SD2Ol39TSCfydx_text-align: center;
  --mixin-SD2Ol39TSCfydx_white-space: pre-wrap;
  --mixin-SWQvymP6Ekkt7L_font-family: "Inter", sans-serif;
  --mixin-SWQvymP6Ekkt7L_color: #000000;
  --mixin-SWQvymP6Ekkt7L_font-size: 48px;
  --mixin-SWQvymP6Ekkt7L_font-weight: 700;
  --mixin-SWQvymP6Ekkt7L_line-height: 59px;
  --mixin-SWQvymP6Ekkt7L_white-space: pre-wrap;
  --mixin-0ZclxuJj23nwrU_font-family: "Montserrat", sans-serif;
  --mixin-0ZclxuJj23nwrU_color: #000000;
  --mixin-0ZclxuJj23nwrU_font-size: 36px;
  --mixin-0ZclxuJj23nwrU_font-weight: 700;
  --mixin-0ZclxuJj23nwrU_line-height: 140%;
  --mixin-0ZclxuJj23nwrU_white-space: pre-wrap;
  --mixin-VhCZuqmloSgkkg_font-family: "Montserrat", sans-serif;
  --mixin-VhCZuqmloSgkkg_color: #aeaeae;
  --mixin-VhCZuqmloSgkkg_font-size: 18px;
  --mixin-VhCZuqmloSgkkg_font-weight: 500;
  --mixin-VhCZuqmloSgkkg_letter-spacing: -0.3px;
  --mixin-VhCZuqmloSgkkg_line-height: 22px;
  --mixin-VhCZuqmloSgkkg_white-space: pre-wrap;
  --mixin-abf05YFmXbVH3r_font-family: "Inter", sans-serif;
  --mixin-abf05YFmXbVH3r_color: #000000;
  --mixin-abf05YFmXbVH3r_font-size: 16px;
  --mixin-abf05YFmXbVH3r_font-weight: 600;
  --mixin-abf05YFmXbVH3r_line-height: 1.5;
  --mixin-abf05YFmXbVH3r_white-space: pre-wrap;
  --mixin-buNCA5vocOMfyM_border-left-color: #dddddd;
  --mixin-buNCA5vocOMfyM_border-left-style: solid;
  --mixin-buNCA5vocOMfyM_border-left-width: 3px;
  --mixin-buNCA5vocOMfyM_color: #888888;
  --mixin-buNCA5vocOMfyM_padding-left: 10px;
  --mixin-buNCA5vocOMfyM_white-space: pre-wrap;
  --mixin-KTqCbxCyqLYQPP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KTqCbxCyqLYQPP_border-bottom-color: #dddddd;
  --mixin-KTqCbxCyqLYQPP_border-bottom-style: solid;
  --mixin-KTqCbxCyqLYQPP_border-bottom-width: 1px;
  --mixin-KTqCbxCyqLYQPP_border-left-color: #dddddd;
  --mixin-KTqCbxCyqLYQPP_border-left-style: solid;
  --mixin-KTqCbxCyqLYQPP_border-left-width: 1px;
  --mixin-KTqCbxCyqLYQPP_border-right-color: #dddddd;
  --mixin-KTqCbxCyqLYQPP_border-right-style: solid;
  --mixin-KTqCbxCyqLYQPP_border-right-width: 1px;
  --mixin-KTqCbxCyqLYQPP_border-top-color: #dddddd;
  --mixin-KTqCbxCyqLYQPP_border-top-style: solid;
  --mixin-KTqCbxCyqLYQPP_border-top-width: 1px;
  --mixin-KTqCbxCyqLYQPP_border-bottom-left-radius: 3px;
  --mixin-KTqCbxCyqLYQPP_border-bottom-right-radius: 3px;
  --mixin-KTqCbxCyqLYQPP_border-top-left-radius: 3px;
  --mixin-KTqCbxCyqLYQPP_border-top-right-radius: 3px;
  --mixin-KTqCbxCyqLYQPP_font-family: "Inconsolata";
  --mixin-KTqCbxCyqLYQPP_padding-bottom: 1px;
  --mixin-KTqCbxCyqLYQPP_padding-left: 4px;
  --mixin-KTqCbxCyqLYQPP_padding-right: 4px;
  --mixin-KTqCbxCyqLYQPP_padding-top: 1px;
  --mixin-KTqCbxCyqLYQPP_white-space: pre-wrap;
  --mixin-vprOj9BDe9IAHj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vprOj9BDe9IAHj_border-bottom-color: #dddddd;
  --mixin-vprOj9BDe9IAHj_border-bottom-style: solid;
  --mixin-vprOj9BDe9IAHj_border-bottom-width: 1px;
  --mixin-vprOj9BDe9IAHj_border-left-color: #dddddd;
  --mixin-vprOj9BDe9IAHj_border-left-style: solid;
  --mixin-vprOj9BDe9IAHj_border-left-width: 1px;
  --mixin-vprOj9BDe9IAHj_border-right-color: #dddddd;
  --mixin-vprOj9BDe9IAHj_border-right-style: solid;
  --mixin-vprOj9BDe9IAHj_border-right-width: 1px;
  --mixin-vprOj9BDe9IAHj_border-top-color: #dddddd;
  --mixin-vprOj9BDe9IAHj_border-top-style: solid;
  --mixin-vprOj9BDe9IAHj_border-top-width: 1px;
  --mixin-vprOj9BDe9IAHj_border-bottom-left-radius: 3px;
  --mixin-vprOj9BDe9IAHj_border-bottom-right-radius: 3px;
  --mixin-vprOj9BDe9IAHj_border-top-left-radius: 3px;
  --mixin-vprOj9BDe9IAHj_border-top-right-radius: 3px;
  --mixin-vprOj9BDe9IAHj_font-family: "Inconsolata";
  --mixin-vprOj9BDe9IAHj_padding-bottom: 3px;
  --mixin-vprOj9BDe9IAHj_padding-left: 6px;
  --mixin-vprOj9BDe9IAHj_padding-right: 6px;
  --mixin-vprOj9BDe9IAHj_padding-top: 3px;
  --mixin-vprOj9BDe9IAHj_white-space: pre-wrap;
  --mixin-G1cIjCYT0xsF9-_display: flex;
  --mixin-G1cIjCYT0xsF9-_flex-direction: column;
  --mixin-G1cIjCYT0xsF9-_align-items: stretch;
  --mixin-G1cIjCYT0xsF9-_justify-content: flex-start;
  --mixin-G1cIjCYT0xsF9-_list-style-position: outside;
  --mixin-G1cIjCYT0xsF9-_padding-left: 40px;
  --mixin-G1cIjCYT0xsF9-_position: relative;
  --mixin-G1cIjCYT0xsF9-_list-style-type: decimal;
  --mixin-G1cIjCYT0xsF9-_white-space: pre-wrap;
  --mixin-lESu_7hnrQIMw6_display: flex;
  --mixin-lESu_7hnrQIMw6_flex-direction: column;
  --mixin-lESu_7hnrQIMw6_align-items: stretch;
  --mixin-lESu_7hnrQIMw6_justify-content: flex-start;
  --mixin-lESu_7hnrQIMw6_list-style-position: outside;
  --mixin-lESu_7hnrQIMw6_padding-left: 40px;
  --mixin-lESu_7hnrQIMw6_position: relative;
  --mixin-lESu_7hnrQIMw6_list-style-type: disc;
  --mixin-lESu_7hnrQIMw6_white-space: pre-wrap;
  --mixin-diJ1mkJlGcAZ5y_color: #000000;
  --mixin-diJ1mkJlGcAZ5y_font-family: "Montserrat", sans-serif;
  --mixin-diJ1mkJlGcAZ5y_font-size: 72px;
  --mixin-diJ1mkJlGcAZ5y_line-height: 88px;
  --mixin-diJ1mkJlGcAZ5y_text-align: center;
  --mixin-diJ1mkJlGcAZ5y_font-weight: 700;
  --mixin-diJ1mkJlGcAZ5y_white-space: pre-wrap;
}

@media (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-xdoBdvEecvue2X_font-size: 18px;
    --mixin-xdoBdvEecvue2X_font-weight: 400;
    --mixin-xdoBdvEecvue2X_white-space: pre-wrap;
    --mixin-SD2Ol39TSCfydx_font-size: 40px;
    --mixin-SD2Ol39TSCfydx_line-height: 49px;
    --mixin-SD2Ol39TSCfydx_white-space: pre-wrap;
    --mixin-SWQvymP6Ekkt7L_font-size: 40px;
    --mixin-SWQvymP6Ekkt7L_line-height: 49px;
    --mixin-SWQvymP6Ekkt7L_white-space: pre-wrap;
    --mixin-0ZclxuJj23nwrU_font-size: 30px;
    --mixin-0ZclxuJj23nwrU_white-space: pre-wrap;
    --mixin-abf05YFmXbVH3r_font-size: 18px;
    --mixin-abf05YFmXbVH3r_white-space: pre-wrap;
    --mixin-diJ1mkJlGcAZ5y_font-size: 40px;
    --mixin-diJ1mkJlGcAZ5y_line-height: 49px;
    --mixin-diJ1mkJlGcAZ5y_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-C80ijSR7i4g6EP_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-C80ijSR7i4g6EP_box-shadow
  );
  --mixin-RsA0Q0aOKZ1313_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-RsA0Q0aOKZ1313_box-shadow
  );
  --mixin-mAryT0haRzroqj_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-mAryT0haRzroqj_box-shadow
  );
  --mixin-oBKl8_xczCZZLn_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-oBKl8_xczCZZLn_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xdoBdvEecvue2X_font-family);
  font-size: var(--mixin-xdoBdvEecvue2X_font-size);
  font-weight: var(--mixin-xdoBdvEecvue2X_font-weight);
  font-style: var(--mixin-xdoBdvEecvue2X_font-style);
  color: var(--mixin-xdoBdvEecvue2X_color);
  text-align: var(--mixin-xdoBdvEecvue2X_text-align);
  text-transform: var(--mixin-xdoBdvEecvue2X_text-transform);
  line-height: var(--mixin-xdoBdvEecvue2X_line-height);
  letter-spacing: var(--mixin-xdoBdvEecvue2X_letter-spacing);
  white-space: var(--mixin-xdoBdvEecvue2X_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-SD2Ol39TSCfydx_font-family);
  color: var(--mixin-SD2Ol39TSCfydx_color);
  font-size: var(--mixin-SD2Ol39TSCfydx_font-size);
  font-weight: var(--mixin-SD2Ol39TSCfydx_font-weight);
  line-height: var(--mixin-SD2Ol39TSCfydx_line-height);
  text-align: var(--mixin-SD2Ol39TSCfydx_text-align);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-SWQvymP6Ekkt7L_font-family);
  color: var(--mixin-SWQvymP6Ekkt7L_color);
  font-size: var(--mixin-SWQvymP6Ekkt7L_font-size);
  font-weight: var(--mixin-SWQvymP6Ekkt7L_font-weight);
  line-height: var(--mixin-SWQvymP6Ekkt7L_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-0ZclxuJj23nwrU_font-family);
  color: var(--mixin-0ZclxuJj23nwrU_color);
  font-size: var(--mixin-0ZclxuJj23nwrU_font-size);
  font-weight: var(--mixin-0ZclxuJj23nwrU_font-weight);
  line-height: var(--mixin-0ZclxuJj23nwrU_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-VhCZuqmloSgkkg_font-family);
  color: var(--mixin-VhCZuqmloSgkkg_color);
  font-size: var(--mixin-VhCZuqmloSgkkg_font-size);
  font-weight: var(--mixin-VhCZuqmloSgkkg_font-weight);
  letter-spacing: var(--mixin-VhCZuqmloSgkkg_letter-spacing);
  line-height: var(--mixin-VhCZuqmloSgkkg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-abf05YFmXbVH3r_font-family);
  color: var(--mixin-abf05YFmXbVH3r_color);
  font-size: var(--mixin-abf05YFmXbVH3r_font-size);
  font-weight: var(--mixin-abf05YFmXbVH3r_font-weight);
  line-height: var(--mixin-abf05YFmXbVH3r_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-buNCA5vocOMfyM_color);
  padding-left: var(--mixin-buNCA5vocOMfyM_padding-left);
  border-left: var(--mixin-buNCA5vocOMfyM_border-left-width)
    var(--mixin-buNCA5vocOMfyM_border-left-style)
    var(--mixin-buNCA5vocOMfyM_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-KTqCbxCyqLYQPP_font-family);
  border-radius: var(--mixin-KTqCbxCyqLYQPP_border-top-left-radius)
    var(--mixin-KTqCbxCyqLYQPP_border-top-right-radius)
    var(--mixin-KTqCbxCyqLYQPP_border-bottom-right-radius)
    var(--mixin-KTqCbxCyqLYQPP_border-bottom-left-radius);
  padding: var(--mixin-KTqCbxCyqLYQPP_padding-top)
    var(--mixin-KTqCbxCyqLYQPP_padding-right)
    var(--mixin-KTqCbxCyqLYQPP_padding-bottom)
    var(--mixin-KTqCbxCyqLYQPP_padding-left);
  border-top: var(--mixin-KTqCbxCyqLYQPP_border-top-width)
    var(--mixin-KTqCbxCyqLYQPP_border-top-style)
    var(--mixin-KTqCbxCyqLYQPP_border-top-color);
  border-right: var(--mixin-KTqCbxCyqLYQPP_border-right-width)
    var(--mixin-KTqCbxCyqLYQPP_border-right-style)
    var(--mixin-KTqCbxCyqLYQPP_border-right-color);
  border-bottom: var(--mixin-KTqCbxCyqLYQPP_border-bottom-width)
    var(--mixin-KTqCbxCyqLYQPP_border-bottom-style)
    var(--mixin-KTqCbxCyqLYQPP_border-bottom-color);
  border-left: var(--mixin-KTqCbxCyqLYQPP_border-left-width)
    var(--mixin-KTqCbxCyqLYQPP_border-left-style)
    var(--mixin-KTqCbxCyqLYQPP_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vprOj9BDe9IAHj_font-family);
  border-radius: var(--mixin-vprOj9BDe9IAHj_border-top-left-radius)
    var(--mixin-vprOj9BDe9IAHj_border-top-right-radius)
    var(--mixin-vprOj9BDe9IAHj_border-bottom-right-radius)
    var(--mixin-vprOj9BDe9IAHj_border-bottom-left-radius);
  padding: var(--mixin-vprOj9BDe9IAHj_padding-top)
    var(--mixin-vprOj9BDe9IAHj_padding-right)
    var(--mixin-vprOj9BDe9IAHj_padding-bottom)
    var(--mixin-vprOj9BDe9IAHj_padding-left);
  border-top: var(--mixin-vprOj9BDe9IAHj_border-top-width)
    var(--mixin-vprOj9BDe9IAHj_border-top-style)
    var(--mixin-vprOj9BDe9IAHj_border-top-color);
  border-right: var(--mixin-vprOj9BDe9IAHj_border-right-width)
    var(--mixin-vprOj9BDe9IAHj_border-right-style)
    var(--mixin-vprOj9BDe9IAHj_border-right-color);
  border-bottom: var(--mixin-vprOj9BDe9IAHj_border-bottom-width)
    var(--mixin-vprOj9BDe9IAHj_border-bottom-style)
    var(--mixin-vprOj9BDe9IAHj_border-bottom-color);
  border-left: var(--mixin-vprOj9BDe9IAHj_border-left-width)
    var(--mixin-vprOj9BDe9IAHj_border-left-style)
    var(--mixin-vprOj9BDe9IAHj_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-G1cIjCYT0xsF9-_display);
  flex-direction: var(--mixin-G1cIjCYT0xsF9-_flex-direction);
  align-items: var(--mixin-G1cIjCYT0xsF9-_align-items);
  justify-content: var(--mixin-G1cIjCYT0xsF9-_justify-content);
  list-style-position: var(--mixin-G1cIjCYT0xsF9-_list-style-position);
  padding-left: var(--mixin-G1cIjCYT0xsF9-_padding-left);
  position: var(--mixin-G1cIjCYT0xsF9-_position);
  list-style-type: var(--mixin-G1cIjCYT0xsF9-_list-style-type);
  flex-column-gap: var(--mixin-G1cIjCYT0xsF9-_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lESu_7hnrQIMw6_display);
  flex-direction: var(--mixin-lESu_7hnrQIMw6_flex-direction);
  align-items: var(--mixin-lESu_7hnrQIMw6_align-items);
  justify-content: var(--mixin-lESu_7hnrQIMw6_justify-content);
  list-style-position: var(--mixin-lESu_7hnrQIMw6_list-style-position);
  padding-left: var(--mixin-lESu_7hnrQIMw6_padding-left);
  position: var(--mixin-lESu_7hnrQIMw6_position);
  list-style-type: var(--mixin-lESu_7hnrQIMw6_list-style-type);
  flex-column-gap: var(--mixin-lESu_7hnrQIMw6_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-diJ1mkJlGcAZ5y_color);
  font-family: var(--mixin-diJ1mkJlGcAZ5y_font-family);
  font-size: var(--mixin-diJ1mkJlGcAZ5y_font-size);
  line-height: var(--mixin-diJ1mkJlGcAZ5y_line-height);
  text-align: var(--mixin-diJ1mkJlGcAZ5y_text-align);
  font-weight: var(--mixin-diJ1mkJlGcAZ5y_font-weight);
}
